<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap">
    <style>
        body {
        font-family: 'League Gothic', sans-serif;
        text-align: center;
        background-color: #333333; /* Dark Grey Background */
        color: #e6e6e6; /* White Text Color */
        margin: 0;
        padding: 20px;
        }

        h1 {
            display: none;
        }

        #logo {
            width: 500px;
            height: auto;
        }

        p {
            font-size: 1.4em;
            line-height: 1.6;
            letter-spacing: 0.05em;
        }

        .small-text {
            font-size: 1.0em;
            color: #ccc;
            margin-top: 20px;
        }
    </style>
    <title>Whisperlock</title>
</head>

<body>
    <h1>Whisperlock</h1>
    <%= image_tag('whisperlock-logo_transparent_crop.png', id: 'logo' , alt: 'Whisperlock Logo' ) %>
        <p>This is a placeholder site, but hopefully it will be replaced by something exciting soon.</p>
        <p class="small-text"><strong>For debugging purposes:</strong> this site was accessed on <%= @time.strftime("%A, %b %e, %Y at %l:%M%P") %></p>
</body>

</html>
