<h2>Whisperlock</h2>

<p>This is a placeholder site but hopefully it will be replaced by something exciting soon.</p>
<p>For debugging purposes: this site was accessed at <%= @time.strftime("%A, %b %e, %Y at %l:%M%P") %>.</p>
